{% extends "base.html.twig" %}

{% block title %}
    Bienvenue sur le meilleur réseau de Camping Car
{% endblock %}

{% block header %}
    <h2>Voici le header</h2>
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron mt-3">
        <h1 class="display-3">Bienvenue sur CampingCar !</h1>
        <p class="lead">Nous mettons en relations les aventuriers et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur camping car à la location !</p>
        <hr class="my-4">
        <p>Vous êtes des aventuriers ? et vous voulez le meilleur et le plus confortable des vehicules pour vos prochaines aventure? </p>
        <p class="lead pt-3" >
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
        </p>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos vehicules stars</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    A partir de<strong> 50&euro; / jour </strong> <br>
                    <small>Pas encore noté</small>
                </div>
                
                <img src="http://placehold.it/1000x400" alt="Image du camping car" style="height: 200px; width : 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                        Camping-car
                    </h4>
                    <p class="cart-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo magnam aspernatur laboriosam voluptas aliquid aperiam ea iure non earum mollitia rerum quidem inventore, dicta harum rem libero labore. Corporis, vero!
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    A partir de<strong> 50&euro; / jour </strong> <br>
                    <small>Pas encore noté</small>
                </div>
                
                <img src="http://placehold.it/1000x400" alt="Image du combi" style="height: 200px; width : 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                        Combi
                    </h4>
                    <p class="cart-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo magnam aspernatur laboriosam voluptas aliquid aperiam ea iure non earum mollitia rerum quidem inventore, dicta harum rem libero labore. Corporis, vero!
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3">
                <div class="card-header text-center">
                    A partir de<strong> 50&euro; / jour </strong> <br>
                    <small>Pas encore noté</small>
                </div>
                
                <img src="http://placehold.it/1000x400" alt="Image du van" style="height: 200px; width : 100%; display: block">

                <div class="card-body">
                    <h4 class="card-title">
                        Van
                    </h4>
                    <p class="cart-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo magnam aspernatur laboriosam voluptas aliquid aperiam ea iure non earum mollitia rerum quidem inventore, dicta harum rem libero labore. Corporis, vero!
                    </p>
                    <a href="#" class="btn btn-secondary">En savoir plus !</a>
                </div>
            </div>
        </div>
    </div>

    <h2 class="h1 mt-3 mb-4">Nos proprios stras !</h2>

    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title"> Manda</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de manda" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, voluptate.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title"> Lyo</h4>

                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="Avatar de lyo" class="float-left mr-3">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, voluptate.</p>
                        <a href="#" class="btn btn-success float-right">En savoir plus !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}